<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.web>
    <compilation defaultlanguage="c#" debug="true" />
  </system.web>
<appsettings>
    <add key="ConnectionInfo" value="server=(local);database=svrdesk;Integrated Security=SSPI" />
  </appsettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear/>
                <add value="index.php" />
            </files>
        </defaultDocument>
<validation validateintegratedmodeconfiguration="false" />
    </system.webServer>
</configuration>
